
#brain1.jpg{
    width: 30%;
    height: 30%
}

.titulo-centralizado{
    text-align: center
}
 
em {
    font-size: 20px
}

p {
    font-size: 18px
}

em strong {
    color:  #FF0000;
}

#teste.jpg {
   width: 55%;
   height: 55%;
}

#chat.jpg {
   width: 55%;
   height: 55%
}

#vicio.jpg {
   width: 55%;
   height: 55%
}

        	


